body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    padding: 20px;
    background-color: dimgray;
    color: white;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: beige;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}